@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip_half_diagonal {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  .clip_half_diagonal_rectangle {
    clip-path: polygon(100% 0, 100% 0, 0 100%, 100% 100%);
  }
  .clip_square_diagonal {
    clip-path: polygon(100% 50%, 100% 50%, 50% 100%, 0% 50%);
  }
}
